/* RealTextOffc */
@font-face {
  font-family: "RealTextOffc";
  src: url("../fonts/RealTextOffc/Real Text Offc Pro.eot");
  src: url("../fonts/RealTextOffc/Real Text Offc Pro.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RealTextOffc/Real Text Offc Pro.woff2") format("woff2"),
  url("../fonts/RealTextOffc/Real Text Offc Pro.woff") format("woff"),
  url("../fonts/RealTextOffc/Real Text Offc Pro.svg#Real Text Offc Pro") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-1F310;
}

/* RealTextOffc-Medium */
@font-face {
  font-family: "RealTextOffc-Medium";
  src: url("../fonts/RealTextOffc-Medium/Real Text Offc Pro Medium.eot");
  src: url("../fonts/RealTextOffc-Medium/Real Text Offc Pro Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RealTextOffc-Medium/Real Text Offc Pro Medium.woff2") format("woff2"),
  url("../fonts/RealTextOffc-Medium/Real Text Offc Pro Medium.woff") format("woff"),
  url("../fonts/RealTextOffc-Medium/Real Text Offc Pro Medium.svg#Real Text Offc Pro Medium")  format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-1F310;
}

/* RealTextOffc-Bold */
@font-face {
  font-family: "RealTextOffc-Bold";
  src: url("../fonts/RealTextOffc-Bold/Real Text Offc Pro Bold.eot");
  src: url("../fonts/RealTextOffc-Bold/Real Text Offc Pro Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/RealTextOffc-Bold/Real Text Offc Pro Bold.woff2") format("woff2"),
  url("../fonts/RealTextOffc-Bold/Real Text Offc Pro Bold.woff") format("woff"),
  url("../fonts/RealTextOffc-Bold/Real Text Offc Pro Bold.svg#Real Text Offc Pro Bold")  format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-1F310;
}

/* Icons */
@font-face {
  font-family: "Icons";
  src: url("../fonts/Icons/icomoon.eot?bzn7r#iefix") format('embedded-opentype'),
       url("../fonts/Icons/icomoon.ttf") format("truetype"),
       url("../fonts/Icons/icomoon.woff") format("woff"),
       url("../fonts/Icons/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
